/* BODY */

@font-face {
  font-family: "Roboto";
  src: url(/home/toutankharton/Desktop/Epitech/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Avenir Black";
  src: url(/home/toutankharton/Desktop/Epitech/fonts/Avenir/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: "Avenir Book";
  src: url(/home/toutankharton/Desktop/Epitech/fonts/Avenir/AvenirLTStd-Book.otf);
}

body {
  font-family: "Avenir Book";
}

div {
  margin-bottom: 20px;
}

/* HEADER  */

#bascket {
  width: 25px;
  height: 26px;
  background: url(./integration-design-and-assets/Cart.Button.png);
}

header ul li {
  font-family: "Avenir Black";
  margin: 20px;
}

header ul p {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 5px 0;
}

/* SEARCH  */

#search {
  font-family: "Avenir Black";
  font-size: 24px;
}

#zoom {
  margin: auto;
  max-width: 60px;
}

#searchBar input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px black solid;
  padding: 12px 20px;
}

/* SELECT */

#select select {
  width: 100%;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  padding: 18px 0px;
  background-color: transparent;
  text-align: left;
}

#filter {
  font-family: "Roboto";
  font-size: 14px;
  color: gray;
}
/* CONTENT */

h5 {
  font-family: "Avenir Black";
}

h6 {
  font-family: "Roboto";
  font-size: 14px;
  color: gray;
}

#content div {
  margin: 10px 0px;
}

#stars p {
  display: inline;
}

/* PAGE */

#page ul {
  margin: 10px 10px;
  border-radius: 0px;
}

#page ul li a {
  font-family: "Avenir Book";
  margin: 15px;
  border: transparent;
  color: black;
  border-radius: 0px;
}

#page ul .active a {
  color: white;
  background-color: black;
  border-radius: 0px;
}
